@{
    //ViewBag.Title = "About";
}

<hgroup class="title">
    @*<h1>@ViewBag.Title.</h1>
    <h2>@ViewBag.Message</h2>*@
</hgroup>

<H2>
        Online e-commerce: An Online Gifting Shop .
        
</H2>

<article>
    


    <p>
           Develop an Online Gifting Shop (Gift your Beloved) where Customer can buy any product for friends and family. Product are shown in Category wise. They Can Search Product item by Category, Price, Gender and Age bases. It’s an Asp.net MVC Web application with SQL server that contains all Product and Customer information. 
    </p>

    <p>
       
    </p>
</article>

<aside>
    <h3>
        Developed By : 
    </h3>
    <p>
       Md. Amran Hossain 
    </p>
    <p>
       Email : amrauiucse@gmail.com 
    </p>
    <p>
       mobile: 01676841400
    </p>
    <h3>
        Implementation Method : 
    </h3>
    <p>
       IDE: : microsoft Visual Studio 2012
    </p>
    <p>
       Language : C#, 
    </p>

    <p>
      Entity Framework : ASP.NET MVC-4 Application .
    </p>
    <ul>
       @* <li>@Html.ActionLink("Home", "Index", "Home")</li>
        <li>@Html.ActionLink("About", "About", "Home")</li>
        <li>@Html.ActionLink("Contact", "Contact", "Home")</li>*@
    </ul>
</aside>